nodered-read-csv.json
[{"id":"d92c65a4.566478","type":"inject","z":"858b1a5f.90b618","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":500,"wires":[["4e4829e3.eaeae8"]]},{"id":"4e4829e3.eaeae8","type":"file in","z":"858b1a5f.90b618","name":"","filename":"/data/user/tableau.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":500,"y":500,"wires":[["d42eaa86.c12c18"]]},{"id":"d42eaa86.c12c18","type":"csv","z":"858b1a5f.90b618","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":false,"x":690,"y":500,"wires":[["3ac5b1c2.cbbd5e"]]},{"id":"3ac5b1c2.cbbd5e","type":"split","z":"858b1a5f.90b618","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"topic","x":830,"y":500,"wires":[["5ed3ced8.9dd17"]]},{"id":"5ed3ced8.9dd17","type":"switch","z":"858b1a5f.90b618","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"led1","vt":"str"},{"t":"eq","v":"led2","vt":"str"},{"t":"eq","v":"led3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":990,"y":500,"wires":[["1fbafc85.1bae13"],["eb8c629c.fac47"],["81cb2400.d5dea8"]]},{"id":"1fbafc85.1bae13","type":"function","z":"858b1a5f.90b618","name":"led1","func":"msg.name = msg.payload.name;\nmsg.color = msg.payload.color;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":440,"wires":[["a514228b.20c53"]]},{"id":"eb8c629c.fac47","type":"function","z":"858b1a5f.90b618","name":"led2","func":"msg.name = msg.payload.name;\nmsg.color = msg.payload.color;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":500,"wires":[[]]},{"id":"81cb2400.d5dea8","type":"function","z":"858b1a5f.90b618","name":"led3","func":"msg.name = msg.payload.name;\nmsg.color = msg.payload.color;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":560,"wires":[[]]},{"id":"a514228b.20c53","type":"debug","z":"858b1a5f.90b618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":440,"wires":[]}]